html {
  /* scroll-snap-type: y mandatory;  */
  font-size: 16px;
  height: 100%; 
  scroll-behavior: smooth;
}

body {
  background-color: #3b3b3b;
  height: 100%; 
  max-width: 1900px;
  margin: 0px auto;
  /* border-right: solid 1vw; 
  opacity: 0.95;
  border-image: 
  linear-gradient(
    to right, 
   rgb(31, 44, 48), 
    rgba(54, 90, 147, 1)
  ) 1 55%; */
}

/* @media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) { .about-box {background-size:contain; background-attachment: scroll}; .contact-box {background-size:contain; background-attachment: scroll;} } */

/* .atlanta-box, .contact-box { @media (max-width: @iphone-screen) {
  background-attachment: scroll;
  }
} */

.navbar {
  background: transparent;  
}

.fixed-top.scrolled {
  background-color:#3b3b3b !important;
  transition: background-color 200ms linear;
}

.fixed-top.scrolled .nav-link {
  color:#3b3b3b;
}

.navbar-nav > li > a {
  display: flex; 
  align-items: center;   
  height: 5vh;
  padding-top: 3vh;
  padding-bottom: 3vh;
  line-height: 3vh;
  font-size: calc(11px + 1vw)
}

.navbar-nav > li > a:hover {
  opacity: 0.7;
}

.navbar-toggler {
  background-color: white !important;
}
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.atlanta-box {
    background-image: url(Atlanta.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: gray;
    background-position: center; 
    max-width: 1900px;
    width: 100%; 
    /* why does 100vh basically break the entire webpage but fixed pixels are fine? */
    height: 100vh;
    /* min-height: 100vh; */
    margin-bottom: 2vh;
    /* scroll-snap-align: start;  */
    display: flex;
    flex-direction: column;
  }
.my-name p {
  font-size: calc(16px + 1vw); 
}

.arrow {
  margin-bottom: 10vh;
}

.arrow span {
  display: block;
  width: 3vw;
  height: 3vw;
  border-bottom: 1vw solid white;
  border-right: 1vw solid white;
  transform: rotate(45deg);
  margin: -1vw;
  animation: animate 4s infinite;
  animation-duration: 3s;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
} 

.about-box {
  /* scroll-snap-align: start;  */
  color: white;
  max-width: 1900px;
  /* min-height: 100vh;   */
  /* height: 100%; */
  /* background-image: url(coded-stuff-on-screen-CD9PQJH.jpg);  */
  /* background-size: cover; 
  background-repeat: no-repeat; */
  /* background-attachment: fixed;  */
  background-color: #3b3b3b; 
  /* background-position: center;  */
  margin-bottom: 2vh;
  display: flex; 
  flex-direction: column; 
  /* border-right: solid 1vw; 
  opacity: 0.95;
  border-image: 
  linear-gradient(
    to right, 
   rgb(31, 44, 48), 
    rgba(54, 90, 147, 1)
  ) 1 55%; */
}


.skill-box {
  /* scroll-snap-align: start;   */
  color: white;
  max-width: 1900px;
  /* height: 100%; */
  display: flex; 
  flex-direction: column;
}

#subskill-box{
  background-color: #d9d9d9;
} 

.container-skills {
  border-top: solid 5px #365a93;
  margin-left: 1vh;
  margin-right: 1vh;
  padding-top: 2vh;
}

.certifications {
  border-top: solid 5px #365a93;
  padding-top: 3vh;
  color: black;
  font-family: 'Roboto'; 
  font-size: calc(13px + 1vw); 
  font-weight: 500;
}
      
.projects-box {
  color: black;
  max-width: 1900px;
  background-color: white;
  /* height: 100%; */
  display: flex; 
  flex-direction: column;
  padding: 10vh;
}

.col-sm-7 > img {
  max-height: 40vh;
}

.project-header {
  text-decoration: underline solid 5px;
  text-decoration-color: #365a93;
  font-family: 'Roboto'; 
  font-size: calc(16px + 2vw); 
  font-weight: 500;
}

#arrow {
  background-color: #365a93;
  padding: 1vh;
  opacity: 0.9;
  transition: 0.3s;
}

#arrow:hover {opacity: 1};

.carousel-control-prev {
  height: 3vw;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem;
   height: 1rem;
   margin: 0;
   border-radius: 50%; 
   border: 0;
   background: transparent; 
}

ol.carousel-indicators li {
   background: gray;
   margin-left: .5rem;
   margin-right: .5rem;
}

ol.carousel-indicators li.active {
   background: #365a93;
}

.carousel-background {
    background-image: url(twitch-site.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.first-project h1 > a {
  color: black;
  font-family: 'Roboto'; 
  font-weight: 500;
}

.first-project > p {
  color: black;
  font-family: 'Roboto';  
}

.first-project > h3 {
  color: black;
  font-family: 'Roboto';
  font-weight: 400;  
}

.first-project > h1 {
  color: black;
  font-family: 'Roboto';
  font-weight: 400;  
}

.second-project h1 > a {
  color: black;
  font-family: 'Roboto'; 
  font-weight: 500;
}

.second-project > p {
  color: black;
  font-family: 'Roboto';  
}

.second-project > h3 {
  color: black;
  font-family: 'Roboto';
  font-weight: 400;  
}

.container-contact {
  background-image: url(contact-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-color: gray;
  background-position: center; 
  /* max-width: 2100px; */
  max-width: 1900px;
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  height: 70%; 
  justify-content: space-between;
}

.container-contact h1 {
  color: white;
  text-decoration: underline solid 5px;
  text-decoration-color: #365a93;
  font-family: 'Roboto'; 
  font-size: calc(16px + 2vw); 
  font-weight: 500;
  margin-left: 5vw;
  margin-top: 5vw;
  /* align-self: flex-start;  */
}

.contact-info h2, a {
  color: white;
  font-family: 'Roboto'; 
  font-size: calc(16px + 1vw); 
  font-weight: 300;
  margin-left: 2vh;
}

.contact-icons {
  margin-bottom: 4vw;
}

.contact-icons > a {
  opacity: 0.8;
}

.contact-icons > a:hover {
  opacity: 1;
}

/* .contact-info > h2 {
  margin-right: 10vw;
  margin-bottom: 10vw;
}  */

/* #bg-column {
  min-height: 600px; 
  background-image: url(skills-bg.png);
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed; 
}

#left-column {
  min-height: 600px; 
  background-color: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3vw;
  padding-right: 3vw;
}

#left-column > p {
  border-bottom: 5px solid #365a93;
} */

@media (max-width: 768px) {
  .atlanta-box {
    background: url(Atlanta.png); 
    background-size: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
  }
  .container-contact {
    background: url(contact-background.png) no-repeat center center scroll;
  }
}